
env/*
data/*
dist/*

*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv

.cache
site/*
build

latest_model.json
models/
mycar/
save_models/
tensorboard_logs/

#IDE
.idea
.spyproject

.pytest_cache

.coverage
