
env/*
data/*
dist/*

*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv
.vscode/*

.cache
site/*
build

latest_model.json
tensorboard_logs/*
car/models/*

#IDE
.idea
.spyproject

.pytest_cache

.coverage
